﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Gustavo Linhares Vieira - gustavolvieira@gmail.com"/>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://use.fontawesome.com/67ab2dcdbe.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/deafult-theme.css">
    <link rel="stylesheet" type="text/css" href="~/Content/admin-forms.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Custom.css">

    @RenderSection("style", required: false)


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/utility.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
