@model STrip.Models.SolutionComponent

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SolutionComponent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CostValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CostValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinalDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinalDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InitialDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InitialDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsEmpty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsEmpty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeValue)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
