﻿@using STripPFC.Models
@model STripPFC.Models.Trip

@{
    ViewBag.Title = "Create";
}

<h2>New Trip Plan</h2>

<div class="admin-form theme-info row">
    <div class="panel panel-info mt10 br-n form-trip simple-form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="panel-header">

            </div>

            <div class="panel-body bg-light p30">

                @*                @Html.ValidationSummary(true, "", new {@class = "text-danger"})*@
                @*                <div class="form-group">*@
                @*                    @Html.LabelFor(model => model.RoundTrip, htmlAttributes: new {@class = "control-label col-md-2"})*@
                @*                    <div class="col-md-10">*@
                @*                        <div class="checkbox">*@
                @*                            @Html.EditorFor(model => model.RoundTrip)*@
                @*                            @Html.ValidationMessageFor(model => model.RoundTrip, "", new {@class = "text-danger"})*@
                @*                        </div>*@
                @*                    </div>*@
                @*                </div>*@

                <div class="col-xs-12">
                    <div class="section-divider">
                        <span class="bigger">Trip Information</span>
                    </div>
                </div>

                <div class="form-group col-sm-6 col-xs-12">
                    <label for="destination-initial" class="field-label">Initial Destination</label>
                    <label class="field prepend-icon">
                        <input type="text" name="destination-initial" id="destination-initial" class="gui-input form-control" placeholder="Initial Destination" required>
                        <label class="field-icon">
                            <i class="fa fa-flag"></i>
                        </label>
                    </label>
                </div>

                <div class="form-group col-sm-6 col-xs-12">
                    <label for="number-travellers" class="field-label">Number of Travellers</label>
                    <label class="field prepend-icon">
                        <input type="number" name="number-travellers" id="number-travellers" class="gui-input form-control" placeholder="Number of Travellers" required>
                        <label class="field-icon">
                            <i class="fa fa-user-times"></i>
                        </label>
                    </label>
                </div>

                <div class="form-group col-sm-6 col-xs-12">
                    <label for="departing-date" class="field-label">Departing Date</label>
                    <label class="field prepend-icon">
                        <input type="text" name="departing-date" id="departing-date" class="gui-input form-control dateRange" placeholder="Departing Date" required>
                        <label class="field-icon">
                            <i class="fa fa-calendar"></i>
                        </label>
                    </label>
                </div>

                <div class="form-group col-sm-6 col-xs-12">
                    <label for="returning-date" class="field-label">Returning Date</label>
                    <label class="field prepend-icon">
                        <input type="text" name="returning-date" id="returning-date" class="gui-input form-control dateRange" placeholder="Returning Date" required>
                        <label class="field-icon">
                            <i class="fa fa-calendar"></i>
                        </label>
                    </label>
                </div>

                <div class="restrictions-block">
                    <div class="col-xs-12">
                        <div class="section-divider">
                            <span>Transportation Restrictions</span>
                        </div>
                    </div>

                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="transportation-type" class="field-label">Transportation Types</label>
                        <label class="field prepend-icon">
                            <input type="text" name="transportation-type" id="transportation-type" class="gui-input form-control" placeholder="Transportation Types" required>
                            <label class="field-icon">
                                <i class="fa fa-plane"></i>
                            </label>
                        </label>
                    </div>

                    <div class="form-group col-sm-3 col-xs-6">
                        <label for="transportation-cost-min" class="field-label">Minimum Cost</label>
                        <label class="field prepend-icon">
                            <input type="text" name="transportation-cost-min" id="transportation-cost-min" class="gui-input form-control" placeholder="Minimum Cost" required>
                            <label class="field-icon">
                                <i class="fa fa-dolar"></i>
                            </label>
                        </label>
                    </div>

                    <div class="form-group col-sm-3 col-xs-6">
                        <label for="transportation-cost-max" class="field-label">Maximum Cost</label>
                        <label class="field prepend-icon">
                            <input type="text" name="transportation-cost-max" id="transportation-cost-max" class="gui-input form-control" placeholder="Maximum Cost" required>
                            <label class="field-icon">
                                <i class="fa fa-dolar"></i>
                            </label>
                        </label>
                    </div>

                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="transportation-companies" class="field-label">Forbiden Companies</label>
                        <label class="field prepend-icon">
                            <input type="text" name="transportation-companies" id="transportation-companies" class="gui-input form-control" placeholder="Forbiden Companies" required>
                            <label class="field-icon">
                                <i class="fa fa-museum"></i>
                            </label>
                        </label>
                    </div>

                    <div class="form-group col-sm-3 col-xs-6">
                        <label for="transportation-time-start" class="field-label">Forbiden Time Window Start</label>
                        <label class="field prepend-icon">
                            <input type="text" name="dtransportation-time-start" id="transportation-time-start" class="gui-input form-control" placeholder="Starting Time Window" required>
                            <label class="field-icon">
                                <i class="fa fa-clock"></i>
                            </label>
                        </label>
                    </div>

                    <div class="form-group col-sm-3 col-xs-6">
                        <label for="transportation-cost-min" class="field-label">Forbiden Time Window End</label>
                        <label class="field prepend-icon">
                            <input type="text" name="dtransportation-cost-min" id="transportation-cost-min" class="gui-input form-control" placeholder="Minimum Cost" required>
                            <label class="field-icon">
                                <i class="fa fa-clock"></i>
                            </label>
                        </label>
                    </div>

                    <div class="col-xs-12">
                        <div class="section-divider">
                            <span>Accommodation Restrictions</span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="section-divider">
                        <span>Destinations</span>
                    </div>
                </div>

                <div class="col-xs-12 destination-section">
                </div>

                <div class="col-xs-12 add-destination-btn-div">
                    <button type="button" class="btn btn-primary" onclick="addDestination()"><i class="fa fa-plus"></i> Destination</button>
                </div>

            </div>

            <div class="panel-footer clearfix">

                <div class="col-xs-6">
                    <label class="block mt10 switch switch-primary">
                        <input type="checkbox" name="tools" id="toggle-form-switch" value="admin">
                        <label for="toggle-form-switch" data-on="YES" data-off="NO"></label>
                        <span>Advanced Options</span>
                    </label>
                </div>

                <div class="col-xs-6">
                    <input type="submit" class="btn btn-primary pull-right" value="Salvar">
                </div>
            </div>
        }
    </div>
</div>

<div class="destination-box-template" style="display: none;">
    <div class="destination-box">
        <div class="row">
            <div class="form-group col-sm-6 col-xs-12 destination-block">
                <label for="destination-x" class="field-label">Destination</label>
                <label class="field prepend-icon">
                    <input type="text" name="destinations[]" id="destination-x" class="gui-input form-control" placeholder="Destination" required>
                    <label class="field-icon">
                        <i class="fa fa-map-marker"></i>
                    </label>
                </label>
            </div>

            <div class="form-group col-sm-6 col-xs-12 days-min-block">
                <label for="days-min" class="field-label">Days</label>
                <label class="field prepend-icon">
                    <input type="number" name="days-min[]" id="days-min" class="gui-input form-control" placeholder="Number of days on destination" required>
                    <label class="field-icon">
                        <i class="fa fa-calendar-check-o"></i>
                    </label>
                </label>
            </div>

            <div class="form-group col-sm-3 col-xs-6 days-max-block">
                <label for="days-max" class="field-label">Maximum Days</label>
                <label class="field prepend-icon">
                    <input type="number" name="days-max[]" id="days-max" class="gui-input form-control" placeholder="" required>
                    <label class="field-icon">
                        <i class="fa fa-calendar-plus-o"></i>
                    </label>
                </label>
            </div>

            <div class="form-group col-sm-3 col-xs-12 date-interval-block">
                <label for="date-interval" class="field-label">Date Interval</label>
                <label class="field prepend-icon">
                    <input type="text" name="departing-date" id="date-interval" class="gui-input form-control dateRange" placeholder="Date Interval">
                    <label class="field-icon">
                        <i class="fa fa-calendar"></i>
                    </label>
                </label>
            </div>

            <div class="form-group col-sm-3 col-xs-12 absolute-order-block">
                <label for="absolute-order" class="field-label">Absolute Order</label>
                <label class="field prepend-icon">
                    <input type="number" name="absolute-order[]" id="absolute-order" class="gui-input form-control" placeholder="Destination order on trip">
                    <label class="field-icon">
                        <i class="fa fa-sort-numeric-asc"></i>
                    </label>
                </label>
            </div>

            <div class="form-group col-sm-4 col-xs-12 relative-order-block">
                <label for="relative-order" class="field-label">Previous Destinations</label>
                <label class="field prepend-icon">
                    <input type="text" name="relative-order[]" id="relative-order" class="gui-input form-control" placeholder="Destinations that must be visited before">
                    <label class="field-icon">
                        <i class="fa fa-map-signs"></i>
                    </label>
                </label>
            </div>

            <div class="form-group col-sm-2 col-xs-12 accomodation-block">
                <label for="search-accomodation" class="field-label">Search accomodation?</label>
                <label class="block mt15 switch switch-primary">
                    <input type="checkbox" name="search-accomodation[]" value="admin" id="search-accomodation" checked="">
                    <label for="search-accomodation" data-on="YES" data-off="NO" class="checkbox-label"></label>
                    <span></span>
                </label>
            </div>
        </div>
        <a class="remove-destination-btn" onclick="$(this).closest('.destination-box').remove()" title="Excluir"><i class="fa fa-times"></i></a>
    </div>
</div>

<div>
    @Html.ActionLink("Your Trips", "Index")
</div>
    


@section style {
    @*<link rel="stylesheet" type="text/css" href="url('/vendor/plugins/datepicker/css/bootstrap-datetimepicker.css')">*@
    <link rel="stylesheet" type="text/css" href="~/Content/daterangepicker.css">
    <style>
        .admin-form.theme-info .section-divider span{
            color: #4a89dc;
            font-size: 20px;
            margin-bottom: 40px;
        }
        .admin-form.theme-info .section-divider span.bigger{
            font-size: 28px;
            transform: translateY(-6px);
        }


        .destination-box {
            border-width: 1px;
            border-style: solid;
            border-color: #eee;
            padding: 20px;
            margin-bottom: 15px;
            position: relative;
        }

        .remove-destination-btn {
            position: absolute;
            right: 10px;
            top: 0px;
            color: #ccc;
            padding: 10px;
            cursor: pointer;
        }
        .remove-destination-btn:hover {
            color: #999;
        }
        .add-destination-btn-div {
            text-align: center;
        }
        .panel-header {
            min-height: 10px;
            background-color: #4a89dc;
        }
        .admin-form .panel-footer {
            padding: 15px;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .simple-form .accomodation-block,
        .simple-form .absolute-order-block,
        .simple-form .relative-order-block,
        .simple-form .date-interval-block,
        .simple-form .days-max-block {
            display: none;
        }
    </style>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/daterangepicker.js"></script>
    <script>
        addDestination();

        $(document).ready(function () {
            $('input.dateRange').daterangepicker(
                {
                    singleDatePicker: true,
                    showDropdowns: false
                });

            $('#toggle-form-switch').change(function () {
                if (this.checked)
                    toggleAdvancedForm();
                else
                    toggleSimpleForm();
            });
        });

        function readForm() {
            var v_tripJson = {};
            v_tripJson.initialDestination = $('input#initial-destination');
        }

        function addDestination() {
            var v_html = $('.destination-box-template').html();
            $('.destination-section').append(v_html);

            var v_idAffix = Math.random().toString(36).substring(2, 7);
            $('.destination-section .destination-box:last .destination-block label.field-label')
                .attr('for', 'destination-' + v_idAffix);
            $('.destination-section .destination-box:last .destination-block input.gui-input.form-control')
                .attr('id', 'destination-' + v_idAffix);

            $('.destination-section .destination-box:last .days-min-block label.field-label')
                .attr('for', 'days-min-' + v_idAffix);
            $('.destination-section .destination-box:last .days-min-block input.gui-input.form-control')
                .attr('id', 'days-min-' + v_idAffix);

            $('.destination-section .destination-box:last .days-max-block label.field-label')
                .attr('for', 'days-max-' + v_idAffix);
            $('.destination-section .destination-box:last .days-max-block input.gui-input.form-control')
                .attr('id', 'days-max-' + v_idAffix);

            $('.destination-section .destination-box:last .date-interval-block label.field-label')
                .attr('for', 'date-interval-' + v_idAffix);
            $('.destination-section .destination-box:last .date-interval-block input.gui-input.form-control')
                .attr('id', 'date-interval-' + v_idAffix);

            $('.destination-section .destination-box:last .absolute-order-block label.field-label')
                .attr('for', 'absolute-order-' + v_idAffix);
            $('.destination-section .destination-box:last .absolute-order-block input.gui-input.form-control')
                .attr('id', 'absolute-order-' + v_idAffix);

            $('.destination-section .destination-box:last .relative-order-block label.field-label')
                .attr('for', 'relative-order-' + v_idAffix);
            $('.destination-section .destination-box:last .relative-order-block input.gui-input.form-control')
                .attr('id', 'relative-order-' + v_idAffix);

            $('.destination-section .destination-box:last .accomodation-block label.field-label')
                .attr('for', 'search-accomodation-' + v_idAffix);
            $('.destination-section .destination-box:last .accomodation-block input[type="checkbox"]')
                .attr('id', 'search-accomodation-' + v_idAffix);
            $('.destination-section .destination-box:last .accomodation-block label.checkbox-label')
                .attr('for', 'search-accomodation-' + v_idAffix);

            $('.destination-section .destination-box:last input.dateRange').daterangepicker(
                {
                    singleDatePicker: false,
                    showDropdowns: false,
                    autoApply: true
                });
        }

        function toggleAdvancedForm() {
            $('input.dateRange').daterangepicker(
                {
                    singleDatePicker: false,
                    showDropdowns: false,
                    autoApply: true
                });
            $('label[for="departing-date"]').html('Departing Date Interval');
            $('label[for="returning-date"]').html('Returning Date Interval');

            $('.days-min-block').removeClass('col-sm-6').addClass('col-sm-3');
            $('.days-min-block label.field-label').html('Minimum Days');
            $('.days-min-block input').attr('placeholder', '');
            $('.days-min-block .fa').removeClass('fa-calendar-check-o').addClass('fa-calendar-minus-o');

            $('.form-trip').removeClass('simple-form');
        }

        function toggleSimpleForm() {
            $('input.dateRange').daterangepicker(
                {
                    singleDatePicker: true,
                    showDropdowns: false,
                    autoApply: true
                });
            $('label[for="departing-date"]').html('Departing Date');
            $('label[for="returning-date"]').html('Returning Date');

            $('.days-min-block').addClass('col-sm-6').removeClass('col-sm-3');
            $('.days-min-block label.field-label').html('Days');
            $('.days-min-block input').attr('placeholder', 'Number of days on destination');
            $('.days-min-block .fa').addClass('fa-calendar-check-o').removeClass('fa-calendar-minus-o');

            $('.form-trip').addClass('simple-form');
        }
    </script>
}
