﻿@using Newtonsoft.Json
@using STripPFC.Models
@model STripPFC.Models.Trip

@{
    ViewBag.Title = "Hypervolume Boxplot";
}

<h2>@ViewBag.Title</h2>

<div id="chart" style="width: 100%; height: 500px;"></div>
<br/>

@section Scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/highcharts.js")"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>

        $(document).ready(function() {

            $(function() {
                $('#chart').highcharts({
                    chart: {
                        type: 'boxplot',
                        zoomType: 'xy',
                        events: {
                            load: function () {
                                plotChart();
                            }
                        }
                    },

                    title: {
                        text: 'Solution quality for different problem sizes with execution time of ' + @ViewBag.Time + ' min'
//                        text: 'Qualidade da solução para um roteiro com 5 destinos e diferentes limites no tempo de execução'
                    },

                    legend: {
                        enabled: false
                    },

                    xAxis: {
                        categories: ['2', '3', '4', '5', '6'],
//                        categories: ['4' ,'6', '8 (ordenados)', '4', '5', '6', '7', '8'],
//                        categories: ['15 s', '30 s' ,'1 min', '3 min', '5 min', '5', '6', '7', '8'],
                        title: {
                            text: 'Problem size (number of destinations on trip)'
//                            text: 'Tempo de execução máximo'
                        }
                    },

                    yAxis: {
                        title: {
                            text: 'Relative Hypervolume'
                        },
                        plotLines: [
                            {
                                value: 1,
                                color: 'red',
                                width: 2.5,
                                label: {
                                    text: 'Reference hypervolume considering the estimated Pareto set',
                                    align: 'center',
                                    style: {
                                        color: 'gray'
                                    }
                                }
                            }
                        ]
                    },
                    series: [
                        {
                            name: 'Outlier',
                            color: 'white',
                            type: 'scatter',
                            data: [
                                [0, 1.05]
                            ],
                            marker: {
                                fillColor: 'white',
                                lineWidth: 0,
                                lineColor: 'white',
                                radius: 1
                            },
                            enableMouseTracking: false
                        }
                    ]

                });
            });

        });

        function plotChart() {
            var v_series1 = {
                name: 'Optimizer 1',
                tooltip: {
                    headerFormat: 'Trip size = {point.key}<br/>Optimization Time = ' + @ViewBag.Time + ' min'
                },
                lineWidth: 1.3,
                fillColor: 'rgb(240,240,240)'
            };
            var v_series2 = {
                name: 'Optimizer 2',
                tooltip: {
                    headerFormat: 'Trip size = {point.key}<br/>Optimization Time = ' + @ViewBag.Time + ' min'
                },
                lineWidth: 1.3,
                fillColor: 'rgb(240,240,240)',
                color: 'rgb(145,232,225)'
            };
            var v_hypervolumeData1 = [];
            var v_hypervolumeData2 = [];
           
            @foreach (List<double> i_hvList in ViewBag.HVList1)
            {
                i_hvList.Sort();
                double v_listSize = i_hvList.Count;

                double v_max = i_hvList.Max();
                double v_min = i_hvList.Min();
                double v_q1 = i_hvList.ElementAt((int) Math.Ceiling(v_listSize/4));
                double v_q2 = i_hvList.Average();
                double v_q3 = i_hvList.ElementAt((int) Math.Ceiling(3*(v_listSize/4)));

                @: v_hypervolumeData1.push([@v_min, @v_q1, @v_q2, @v_q3, @v_max]);
            }
            @foreach (List<double> i_hvList in ViewBag.HVList2)
            {
                i_hvList.Sort();
                double v_listSize = i_hvList.Count;

                double v_max = i_hvList.Max();
                double v_min = i_hvList.Min();
                double v_q1 = i_hvList.ElementAt((int) Math.Ceiling(v_listSize/4));
                double v_q2 = i_hvList.Average();
                double v_q3 = i_hvList.ElementAt((int) Math.Ceiling(3*(v_listSize/4)));

                @: v_hypervolumeData2.push([@v_min, @v_q1, @v_q2, @v_q3, @v_max]);
            }
                
            v_series1.data = v_hypervolumeData1;
            v_series2.data = v_hypervolumeData2;

            $('#chart').highcharts().addSeries(v_series1);
            $('#chart').highcharts().addSeries(v_series2);
        }


    </script>
}