﻿@using Newtonsoft.Json
@using STripPFC.Models
@model STripPFC.Models.Trip

@{
    ViewBag.Title = "Optimization results";
}

<h2>@ViewBag.Title</h2>

<h3>@Model.Name</h3>
<p>StartDate = @Model.StartDateRange.Initial.Date - @Model.StartDateRange.Final.Date, EndDate = @Model.EndDateRange.Initial.Date - @Model.EndDateRange.Final.Date</p>
<p><b>StartingDestination:</b> @Model.StartingDestination.Name, <b>RoundTrip=</b>@Model.RoundTrip</p>
<h4>Destinations:</h4>
@foreach (DestinationSpecification i_specification in Model.DestinationSpecifications)
{
    <b>@i_specification.Destination.Name (@i_specification.Destination.Id)</b>
    @*    <span>___ DateInterval: @i_specification.DateInterval.Initial - @i_specification.DateInterval.Final</span>*@
    <span>___ StayDuration: @i_specification.MinStayDays-@i_specification.MaxStayDays days</span>
    <span>___ Absolute Order: @i_specification.AbsoluteOrder, Relative Order: @i_specification.RelativeOrdersIdsString</span>
    <br>
}
<h4>Options:</h4>
<span>Transportations: (@Model.TransportationOptions.Count)</span>
<span>, Accomodations: (@Model.AccommodationOptions.Count)</span>

<hr>
<hr>

<h3>Optimization Info</h3>
<div>Best Pareto Set Hypervolume: <b>@Model.ParetoHypervolume</b></div>
<div id="pareto-chart" style="width: 100%; height: 500px;"></div>
<button id="custom-values-btn">Custom values</button>
<button id="partial-sets-btn">Partial sets</button>
<button id="clear-chart-btn">Clear chart</button>
<button id="clear-series-btn">Clear series</button>
<input id="clear-series-input" type="number" />
<br />
<button id="optmize-custom-btn">Optmize Custom</button>
<i id="optimization-spinner" class="fa fa-spin fa-spinner hidden"></i>
<label for="parameter-pheromone">Pheromone Modifier</label><input id="parameter-pheromone" class="parameter-input" type="number" />
<label for="parameter-heuristic">Heuristic Modifier</label><input id="parameter-heuristic" class="parameter-input" type="number" />
<label for="parameter-ants">Number Ants</label><input id="parameter-ants" class="parameter-input" type="number" />
<label for="parameter-generations">Max Generations</label><input id="parameter-generations" class="parameter-input" type="number" />
<label for="parameter-pareto-size">Pareto Set Size</label><input id="parameter-pareto-size" class="parameter-input" type="number" />
<label for="parameter-evaporation">Evaporation Rate</label><input id="parameter-evaporation" class="parameter-input" type="number" />
<label for="parameter-deposit">Pheromone Deposit Rate</label><input id="parameter-deposit" class="parameter-input" type="number" />
<label for="parameter-maxtime">Maximum Execution Time (min)</label><input id="parameter-maxtime" class="parameter-input" type="number" />
<label for="parameter-repetitions">Number Repetitions</label><input id="parameter-repetitions" class="parameter-input" type="number" />
<label for="parameter-local">Local Search</label><input id="parameter-local" class="parameter-input" type="number" />
<hr>
<h4>Series details</h4>
<div style="display: none" id="series-details-template">
    <div>
        <b class="series-name"></b>
        PheromoneModifier = <span class="series-pheromone"></span>
        , Heuristic = <span class="series-heuristic"></span>
        , NumberAnts = <span class="series-ants"></span>
        , MaxGenWithoutImprovement = <span class="series-maxgen"></span>
        , PheromoneEvaporationRate = <span class="series-evaporation"></span>
        , PheromoneDepositRate = <span class="series-deposit"></span>
        , ParetoSize = <span class="series-size"></span>
        , OptimizationTime = <span class="series-time">...</span>
        , numberGenerations = <span class="series-ngen">...</span>
        , Hypervolume = <span class="series-hypervolume">...</span>
        , MaxTime(min) = <span class="series-maxtime">...</span>
        , NumberRepetitions = <span class="series-repetitions">...</span>
        , LocalSearch = <span class="series-local">...</span>
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/highcharts.js")"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>

        var v_hypervolumeReference = @Model.ParetoHypervolume;
        $(document).ready(function() {

            $(function() {
                $('#pareto-chart').highcharts({
                    chart: {
                        type: 'scatter',
                        zoomType: 'xy',
                        events: {
                            load: function() {
                                addParetoSeries();
                            }
                        }
                    },
                    title: {
                        text: 'Soluções no Espaço de Objetivos'
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        title: {
                            enabled: true,
                            text: 'Custo (R$)'
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true
                    },
                    yAxis: {
                        title: {
                            text: 'Tempo (min)'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        x: 0,
                        y: 50,
                        floating: true,
                        backgroundColor: '#FFFFFF',
                        borderWidth: 1
                    },
                    plotOptions: {
                        scatter: {
                            marker: {
                                radius: 5,
                                states: {
                                    hover: {
                                        enabled: true,
                                        lineColor: 'rgb(100,100,100)'
                                    }
                                }
                            },
                            states: {
                                hover: {
                                    marker: {
                                        enabled: false
                                    }
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{series.name}</b><br>',
                                pointFormat: 'Cost:{point.x}, Time:{point.y}, <br>DomRank:{point.dominanceRank} <br>Components:{point.solutionComponents} <br>{point.routeSummary}'
                            }
                        },
                        line: {
                            marker: {
                                radius: 5,
                                states: {
                                    hover: {
                                        enabled: true,
                                        lineColor: 'rgb(100,100,100)'
                                    }
                                }
                            },
                            states: {
                                hover: {
                                    marker: {
                                        enabled: false
                                    }
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{series.name}</b><br>',
                                pointFormat: 'Cost:{point.x}, Time:{point.y}, <br>DomRank:{point.dominanceRank} <br>Components:{point.solutionComponents} <br>{point.routeSummary}'
                            }
                        }
                    },
                    series: [
                    ]
                });
            });

            $('#custom-values-btn').click(function() {
                setCustomValues();
            });
            setCustomValues();

            $('#partial-sets-btn').click(function() {
                optimizeAgain(p_custom = true, p_paretoPopup = true);
            });

            $('#optmize-custom-btn').click(function() {
                optimizeAgain(p_custom = true, p_paretoPopup = false);
            });

            $('#clear-chart-btn').click(function() {
                clearChart();
            });
            $('#clear-series-btn').click(function() {
                clearSeries($('#clear-series-input').val());
            });

        });

        function addParetoSeries() {
            var v_paretoSeries = {
                type: 'line',
                name: 'Melhor Fronteira de Pareto Estimada',
                marker: {
                    enabled: true
                },
                enableMouseTracking: true,
                data: []
            }

            var v_TripSolutions = @Html.Raw(Json.Encode(
                                             @Model.ParetoSolutions.Select(s => new{
                                                 Cost = s.ObjectiveValues[Objectives.Cost.ToString()],
                                                 Time = s.ObjectiveValues[Objectives.Time.ToString()],
                                                 DominanceRank = s.DominanceRank,
                                                 CrowdingDistance = s.CrowdingDistance,
                                                 SolutionComponentsIds = s.SolutionComponentsIds
                                             }).OrderBy(s => s.Cost).ToList()
                                             ));

            $(v_TripSolutions).each(function()
            {
                v_paretoSeries.data.push({
                    x: this.Cost,
                    y: this.Time,
                    dominanceRank: this.DominanceRank,
                    crowdingDistance: this.CrowdingDistance,
                    solutionComponents: this.SolutionComponentsIds
                });
            });

            @*@foreach (TripSolution i_solution in Model.ParetoSolutions)
            {
                @: var v_solution = @Html.Raw(Json.Encode(i_solution));
            }*@

            if (v_paretoSeries.data.length > 0) {
                $('#pareto-chart').highcharts().addSeries(v_paretoSeries);
            }
        }

        function optimizeAgain(p_custom, p_paretoPopup) {

            var v_tripId = @Model.Id;
            var v_pheromoneVal;
            var v_heuristicVal;
            var v_numAnts;
            var v_maxGenerations;
            var v_paretoSize;
            var v_evaporationRate;
            var v_repetitions;

            if (!p_custom)
                var v_url = '@Url.Action("OptimizeAgain")' + '/' + v_tripId;
            else {
                v_pheromoneVal = $('#parameter-pheromone').val();
                v_heuristicVal = $('#parameter-heuristic').val();
                v_numAnts = $('#parameter-ants').val();
                v_maxGenerations = $('#parameter-generations').val();
                v_paretoSize = $('#parameter-pareto-size').val();
                v_evaporationRate = $('#parameter-evaporation').val();
                v_depositRate = $('#parameter-deposit').val();
                v_maxTime = $('#parameter-maxtime').val();
                v_repetitions = $('#parameter-repetitions').val();
                v_localSearch = $('#parameter-local').val();

                //                public ActionResult OptimizeAgain(int id, float? p_pheromoneMod = null, float? p_heuristicMod = null, int? p_numAnts = null, int? p_maxGenerations = null)
                var v_url = '@Url.Action("OptimizeAgain")' + '/' + v_tripId +
                    '?p_pheromoneMod=' + v_pheromoneVal +
                    '&p_heuristicMod=' + v_heuristicVal +
                    '&p_numAnts=' + v_numAnts +
                    '&p_maxGenerations=' + v_maxGenerations +
                    '&p_paretoSize=' + v_paretoSize +
                    '&p_evaporationRate=' + v_evaporationRate +
                    '&p_pheromoneDepositRate=' + v_depositRate +
                    '&p_maxExecutionTime=' + v_maxTime +
                    '&p_repetitions=' + v_repetitions +
                    '&p_localSearch=' + v_localSearch;
            }

            if (p_paretoPopup) {
                v_url += "&p_paretoWindow=true";
                var v_popupWindow = window.open(v_url, '_blank', 'width=1100,height=650, "toolbar=no,menubar=no,scrollbars=no,resizable=yes');
                v_popupWindow.focus();
                return false;
            }


            $.ajax({
                url: v_url,
                dataType: "json", //to work with json format
                type: "GET", //to do a post request
                contentType: 'application/json; charset=utf-8', //define a contentType of your request
                cache: false, //avoid caching results
                data: {}, // here you can pass arguments to your request if you need
                beforeSend: function() {
                    $('#optimization-spinner').removeClass('hidden');
                },
                success: function(data) {

                    var v_data = [];
                    $(data.solutions).each(function() {

                        v_data.push({
                            x: this.Cost,
                            y: this.Time,
                            dominanceRank: this.DominanceRank,
                            crowdingDistance: this.CrowdingDistance,
                            solutionComponents: this.SolutionComponentsIds,
                            radius: 5 / this.DominanceRank + 3,
                            routeSummary: this.SolutionSummary
                        });
                    });

                    $('#pareto-chart').highcharts().addSeries({
                        type: 'scatter',
//                        name: 'Série ' + $('#pareto-chart').highcharts().series.length + ' (HV = ' + data.hypervolume/v_hypervolumeReference + ')',
                        name: 'Série ' + $('#pareto-chart').highcharts().series.length + ': Tempo de execução limite = ' + v_maxTime + ' min, HV = '+ data.hypervolume/v_hypervolumeReference + ')',
                        data: v_data
                    });

                    addSeriesInfo(v_pheromoneVal, v_heuristicVal, v_numAnts, v_maxGenerations, v_paretoSize, v_evaporationRate, v_depositRate, data.time, data.numberGenerations, data.hypervolume, v_maxTime, v_repetitions, v_localSearch);

                },
                error: function(xhr) {
                    alert('error');
                },
                complete: function() {
                    $('#optimization-spinner').addClass('hidden');
                }
            });
        }

        function addSeriesInfo(p_pheromoneVal, p_heuristicVal, p_numAnts, p_maxGenerations, p_paretoSize, p_evaporationRate, p_depositRate, p_time, p_numberGenerations, p_hypervolume, p_maxTime, p_repetitions, p_local) {
            var v_seriesName = "Series " + ($('#pareto-chart').highcharts().series.length);
            var v_hypervolumeRatio = 100 * p_hypervolume / v_hypervolumeReference;

            var v_infoTemplate = $('#series-details-template');
            v_infoTemplate.find('.series-name').html(v_seriesName + ':');
            v_infoTemplate.find('.series-pheromone').html(p_pheromoneVal);
            v_infoTemplate.find('.series-heuristic').html(p_heuristicVal);
            v_infoTemplate.find('.series-ants').html(p_numAnts);
            v_infoTemplate.find('.series-maxgen').html(p_maxGenerations);
            v_infoTemplate.find('.series-size').html(p_paretoSize);
            v_infoTemplate.find('.series-evaporation').html(p_evaporationRate);
            v_infoTemplate.find('.series-deposit').html(p_depositRate);
            v_infoTemplate.find('.series-time').html(p_time + 's');
            v_infoTemplate.find('.series-ngen').html(p_numberGenerations);
            v_infoTemplate.find('.series-hypervolume').html(p_hypervolume + ' (' + v_hypervolumeRatio + '%)');
            v_infoTemplate.find('.series-maxtime').html(p_maxTime);
            v_infoTemplate.find('.series-repetitions').html(p_repetitions);
            v_infoTemplate.find('.series-local').html(p_local);

            $('#series-details-template').after(v_infoTemplate.html());
        }

        function clearChart() {
            var chart = $('#pareto-chart').highcharts();
            $(chart.series).each(function(i_index) {
                if(i_index > 0)
                    this.remove();
            });
        }

        function clearSeries(p_seriesIndex) {
            var chart = $('#pareto-chart').highcharts();
            if (chart.series.length) {
                chart.series[p_seriesIndex - 1].remove();
            }
        }

        function setCustomValues() {
            $('#parameter-pheromone').val(0.3);
            $('#parameter-heuristic').val(1);
            $('#parameter-ants').val(50);
            $('#parameter-generations').val(100);
            $('#parameter-pareto-size').val(50);
            $('#parameter-evaporation').val(0.1);
            $('#parameter-deposit').val(0.3);
            $('#parameter-maxtime').val(2);
            $('#parameter-repetitions').val(1);
            $('#parameter-local').val(0);
        }


    </script>
}