﻿@using Newtonsoft.Json
@using STripPFC.Models
@using STripPFC.Models.TripOptimizers
@model STripPFC.Models.TripOptimizers.AntColonyOptimizer

<div id="pareto-chart" style="width: 100%; height: 500px;"></div>

<div>
    <b class="series-name"></b>
    ___ Pheromone=<span class="series-pheromone">@Model.Parameters.PheromoneModifier["Cost"]</span>
    ___ Heuristic=<span class="series-heuristic">@Model.Parameters.HeuristicModifier["Cost"]</span>
    ___ Ants=<span class="series-ants">@Model.Parameters.NumberAnts</span>
    ___ Generations=<span class="series-generations">@Model.Parameters.MaxGenerationsWithoutImprovement</span>
    ___ Evaporation=<span class="series-evaporation">@Model.Parameters.EvaporationRate</span>
    ___ ParetoSize=<span class="series-size">@Model.Parameters.ParetoSetSize</span>
</div>


@section Scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/highcharts.js")"></script>
    <script>

        $(document).ready(function() {

            $(function() {
                $('#pareto-chart').highcharts({
                    chart: {
                        type: 'scatter',
                        zoomType: 'xy',
                        events: {
                            load: function() {
                                printPartialParetoSets();
                            }
                        }
                    },
                    title: {
                        text: 'Pareto Front'
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        title: {
                            enabled: true,
                            text: 'Cost (R$)'
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true
                    },
                    yAxis: {
                        title: {
                            text: 'Time (min)'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        x: 0,
                        y: 0,
                        floating: true,
                        backgroundColor: '#FFFFFF',
                        borderWidth: 1
                    },
                    plotOptions: {
                        scatter: {
                            marker: {
                                radius: 5,
                                states: {
                                    hover: {
                                        enabled: true,
                                        lineColor: 'rgb(100,100,100)'
                                    }
                                }
                            },
                            states: {
                                hover: {
                                    marker: {
                                        enabled: false
                                    }
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{series.name}</b><br>',
                                pointFormat: 'Cost:{point.x}, Time:{point.y}, <br>DomRank:{point.dominanceRank} <br>Components:{point.solutionComponents} <br>{point.routeSummary}'
                            }
                        }
                    },
                    series: [
                    ]
                });
            });

        });

        function printPartialParetoSets() {

            var v_ParetoSets = [];
            @foreach (List<TripSolution> i_paretoSet in @Model.SolutionsPartials)
            {
                @: var v_TripSolutions = @Html.Raw(Json.Encode(
                                             i_paretoSet.Select(s => new
                                             {
                                                 Cost = s.ObjectiveValues[Objectives.Cost.ToString()],
                                                 Time = s.ObjectiveValues[Objectives.Time.ToString()],
                                                 DominanceRank = s.DominanceRank,
                                                 CrowdingDistance = s.CrowdingDistance,
                                                 SolutionComponentsIds = s.SolutionComponentsIds,
                                             }).ToList()
                                             ));

                @: v_ParetoSets.push(v_TripSolutions);
            }


            $(v_ParetoSets).each(function(i_index) {
                var v_data = [];
                $(this).each(function() {

                    var v_routeSummary = '';
                    $(this.SolutionComponents).each(function() {
                        if (this.FinalDestination.Id != this.InitialDestination.Id) {
                            var v_date = new Date();
                            v_date.setTime(this.FinalDate.substr(6, 13));
                            v_routeSummary += this.FinalDestination.Name + ' (' + v_date.getDate() + '/' + v_date.getMonth() + ') ->';
                        }
                    });
                    v_routeSummary = v_routeSummary.substr(0, v_routeSummary.length - 3);

                    v_data.push({
                        x: this.Cost,
                        y: this.Time,
                        dominanceRank: this.DominanceRank,
                        crowdingDistance: this.CrowdingDistance,
                        solutionComponents: this.SolutionComponentsIds,
                        radius: 5 / this.DominanceRank + 3,
                        routeSummary: v_routeSummary
                    });
                });

                $('#pareto-chart').highcharts().addSeries({
                    name: "pareto" + i_index,
                    data: v_data
                });
            });

        }


    </script>
}