﻿@using Newtonsoft.Json
@using STripPFC.Models
@using Deedle;
@model STripPFC.Models.Trip

@{
    ViewBag.Title = "Quality over Time Plot";
}

<h2>@ViewBag.Title</h2>

<div id="chart" style="width: 100%; height: 500px;"></div>
<br/>

@section Scripts {
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/highcharts.js")"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>

        $(document).ready(function () {

            $(function () {
                plotChart();
            });

        });

        function plotChart() {

            var v_plotDataList = [];
            var v_plotRangeDataList = [];
            var v_timesList = [];
            var v_timesRangeList = [];
            @for(int i = 0; i < ViewBag.Series.Count; i++)
            {
                @: v_values= [];
                @: v_rangeMax = [];
                @: v_rangeMin = [];
                @: v_times = [];
                for (int j = 0; j < ViewBag.Series[i].GetColumn<float>("Average").ValueCount; j++)
                {
                    float i_time = ViewBag.Series[i].GetColumn<float>("Time").GetAt(j);
                    float i_value = ViewBag.Series[i].GetColumn<float>("Average").GetAt(j);
                    float i_rangeMin = Math.Max(i_value - 2*ViewBag.Series[i].GetColumn<float>("Deviation").GetAt(j),0);
                    float i_rangeMax = Math.Min(i_value + 2*ViewBag.Series[i].GetColumn<float>("Deviation").GetAt(j),1);
                    @: v_values.push(@i_value);
                    @: v_times.push(@i_time);
                    @: v_rangeMax.push(@i_rangeMax);
                    @: v_rangeMin.splice(0,0,@i_rangeMin); //insert at position 0
                }
                @: v_timeReverse = [].concat(v_times).reverse();

                @:v_plotDataList.push(v_values);
                @:v_timesList.push(v_times);
                @:v_timesRangeList.push(v_times.concat(v_timeReverse));
                @:v_plotRangeDataList.push(v_rangeMax.concat(v_rangeMin));
            }

            var plotData = [];
            v_colors = ['rgba(124,181,236,1)','rgba(244,91,91,1)','rgba(43,144,143,1)','rgba(247,163,92,1)','rgba(128,133,233,1)','rgba(145,232,225,1)','rgba(228,211,84,1)'];
            v_colorsRange = ['rgba(124,181,236,0.25)','rgba(244,91,91,0.25)','rgba(43,144,143,0.25)','rgba(247,163,92,0.25)','rgba(128,133,233,0.25)','rgba(145,232,225,0.25)','rgba(228,211,84,0.25)'];
            v_names = ['ACO', 'ACO + LocalSearch']
            for (i = 0; i < v_plotDataList.length; i++) {
                var v_series = {
                    name: v_names[i],
                    type: 'scatter',
                    mode: "lines",
                    line: {color: v_colors[i]},
                    x: v_timesList[i],
                    y: v_plotDataList[i]
                };
                var v_seriesRange = {
                    name: 'Range' + i,
                    x: v_timesRangeList[i],
                    y: v_plotRangeDataList[i],
                    fill: "tozerox",
                    fillcolor: v_colorsRange[i],
                    line: { color: "transparent" },
                    showlegend: false,
                    hoverinfo:'none'
                };
                plotData.push(v_series);
                plotData.push(v_seriesRange);
            }

            var layout = {
                paper_bgcolor: "rgb(255,255,255)",
                plot_bgcolor: "rgb(240,240,240)",
                title: 'Solution Quality over Time for a Trip with ' + @ViewBag.TripSize + ' destinations',
                xaxis: {
                    gridcolor: "rgb(255,255,255)",
                    range: [0, @ViewBag.TimeMax*60],
                    showgrid: true,
                    showline: false,
                    showticklabels: true,
                    tickcolor: "rgb(127,127,127)",
                    ticks: "outside",
                    zeroline: false,
                    title: 'Time (s)'
                },
                yaxis: {
                    gridcolor: "rgb(255,255,255)",
                    showgrid: true,
                    showline: false,
                    showticklabels: true,
                    tickcolor: "rgb(127,127,127)",
                    ticks: "outside",
                    zeroline: false,
                    title: 'Relative Hypervolume'
                }
            };
            Plotly.newPlot("chart", plotData, layout);

        }


    </script>
}