﻿@using Newtonsoft.Json
@using STripPFC.Models
@model STripPFC.Models.Trip

@{
    ViewBag.Title = "Search Time Plot";
}

<h2>@ViewBag.Title</h2>

<div id="chart" style="width: 100%; height: 500px;"></div>
<br/>

<hr/>

@section Scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/highcharts.js")"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>

        $(document).ready(function() {

            $(function() {
                $('#chart').highcharts({
                    chart: {
                        type: 'line',
                        zoomType: 'xy',
                        events: {
                            load: function() {
                                plotChart();
                            }
                        }
                    },

                    title: {
                        text: 'Logaritmo do tempo de busca de componentes em função do tamanho do roteiro'
                    },

                    legend: {
                        enabled: false
                    },

                    xAxis: {
                        categories: ['2', '3', '4', '5', '6', '7', '8'],
                        title: {
                            text: 'Tamanho da viagem (número de destinos)'
                        }
                    },

                    yAxis: {
                        title: {
                            text: 'Logarítimo do Tempo (s)'
                        }
                    },
                    series: [
                    ]

                });
            });

        });

        function plotChart() {
            var v_series = {
                name: 'Observações',
                tooltip: {
                    headerFormat: 'Trip size = {point.key}'
                },
                lineWidth: 1.3,
                fillColor: 'rgb(240,240,240)'
            };
//            var v_timeData = [];
           
            @*@foreach (List<double> i_timeList in ViewBag.TimeList)
            {
                @: v_timeData.push(@i_timeList.First());
            }*@

            v_timeData = [0.0881104, 0.2595495, 0.7376156, 1.5570456, 6.9804302, 64.5714244, 988.2592977];

            $(v_timeData).each(function(i_index) {
                v_timeData[i_index] = Math.log(this);
            });
                
            v_series.data = v_timeData;

            $('#chart').highcharts().addSeries(v_series);
        }


    </script>
}